.menu {
  &__container {
    background-color: var(--color-grey);
    padding: ;
  }

  &__img {
    object-fit: cover;
    border: none;
    width: 100%;
    height: 260px;
    image-rendering: high-quality;
  }

  .menu-item {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 20px;
    background-color: var(--color-bg);
  }
}
