:root {
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiary: #99e2d0;
  --color-grey: #f6f6f6;
  --color-bg: white;
  --color-dark-bg: #353535;
}

.dark {
  --color-bg: #353535;
  --color-dark-bg: white;
}
