* {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

p {
  font-size: 1.14em;

  @media (min-width: 768px) {
    font-size: 1.25em;
  }
}

h1,
h2,
h4 {
  font-family: Shrikhand, sans-serif;
}

h1 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.5em;
  font-weight: 900;

  @media (min-width: 768px) {
    font-size: 1.7em;
  }

  @media (min-width: 1278px) {
    font-size: 1.9em;
  }
}

h5 {
  font-size: 1.1em;
  font-weight: 900;
}
