.cta {
  padding: 45px 25px;
  background-color: #f6f6f6;

  h3,
  p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3 {
    padding: 0 30px;
  }

  .btn-primary {
    margin-top: 10px;
  }
}
