* {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.14em;
}

h1,
h2,
h4 {
  font-family: Shrikhand, sans-serif;
}

h1 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.5em;
  font-weight: 900;
}

h5 {
  font-size: 1.1em;
  font-weight: 900;
}
