.navbar {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px #d0d0d0;

  h1 {
    margin-top: 5px;
    margin-bottom: 0;
  }
}
