@import "./utilities/colors.pcss";

@import "./utilities/normalize.pcss";

@import "./utilities/fonts.pcss";

@import "./components/btn.pcss";

@import "./components/navbar.pcss";

@import "./components/location.pcss";

@import "./components/footer.pcss";

@import "./blocks/intro.pcss";

@import "./components/cta.pcss";

@import "./components/hiw.pcss";

@import "./blocks/restaurants.pcss";

@import "./blocks/menu.pcss";
